{{debug}}
<form action="/post/{{order._id}}/update" method="POST">
	<input type="hidden" name="_method" value="put">
	<!-- Will be saved: -->
	<input name="exampleVal" type="text" value="{{order.exampleVal}}">
	<!-- <input type="submit"> -->
	<br>
	<a href="/post/{{order._id}}">Cancel</a>
	<br>
	<input type="submit" value="Save">
</form>
<br>
<br>
<hr>
<form action="/post/{{order._id}}/delete" method="POST">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Delete">
</form>