{{debug}}

<a href="/post/new">Create new</a>
<br>
{{#if message}}
{{message.value}}
<hr>
{{/if}}
<table>
	{{#each orders}}
	<tr>
		<td>
			<a href="/post/{{_id}}">{{exampleVal}}</a>
		</td>
	</tr>
	{{/each}}
</table>

{{count}}