{{debug}}

<a href="/post/new">Create new</a>
<br>
{{#if message}}
{{message.value}}
<hr>
{{/if}}
<table>
	{{#each orders}}
	<tr>
		<td>
			<a href="/post/{{_id}}">{{exampleVal}}</a>
		</td>
	</tr>
	{{/each}}
</table>

{{count}}
<hr>
<ul>
	{{#if pagination.hasPrev}}
	<li>
		{{! todo: remove inline url declaration}}
		<a href="/posts/{{pagination.prev}}">Previous Page</a>
	</li>
	{{/if}}

	{{#for pagination.pageCount}}
		<a href="/posts/{{this}}"
			{{~#does this "equal" ../pagination.currentPage}} class="current" {{/does~}}
			>{{this}}</a>
	{{/for}}

	{{#if pagination.hasNext}}
	<li>
		{{! todo: remove inline url declaration}}
		<a href="/posts/{{pagination.next}}">Next Page</a>
	</li>
	{{/if}}
</ul>
pagination.count: {{pagination.count}} <br>
pagination.pageCount: {{pagination.pageCount}} <br>
pagination.currentPage: {{pagination.currentPage}} <br>
pagination.hasNext: {{pagination.hasNext}} <br>
pagination.hasPrevious: {{pagination.hasPrevious}} <br>